body {
  margin: 0px;
  background-color: black;
  width: 100vh;
  height: 100vh;
}
img {
  width: 200px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find {
  background-color: red;
}
